<div class="py-5 sm:py-10 md:my-5 text-center text-white ">
  <h4 class="font-lighter my-0">Mitchel Jager</h4>
  <h1 class="my-0 ml-3">Astrophotography</h1>
  <h4 class="font-lighter my-0">Portfolio</h4>
</div>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/bloodmoon_edited.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/bloodmoon_edited.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/bloodmoon_edited.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Composition of full lunar eclipse during sun down.</strong> Stars are edited in, colours are true.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>July 27, 2018</time>
      <%= link_to "View full size", image_url("large/bloodmoon_edited.jpg"), class: "text-light", target: "_blank" %> <small>(1MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/andromeda-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/andromeda-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/andromeda-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Andromeda Galaxy.</strong> Total intergation time of 70 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>July 15, 2018</time>
      <%= link_to "View full size", image_url("large/andromeda-1.jpg"), class: "text-light", target: "_blank" %> <small>(6MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/andromeda-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/andromeda-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/andromeda-2.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Andromeda Galaxy.</strong> Total intergation time of 120 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>September 17, 2018</time>
      <%= link_to "View full size", image_url("large/andromeda-2.jpg"), class: "text-light", target: "_blank" %> <small>(5MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/m33-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/m33-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/m33-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Triangulum Galaxy.</strong> Total intergation time of 120 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>November 17, 2018</time>
      <%= link_to "View full size", image_url("large/m33-1.jpg"), class: "text-light", target: "_blank" %> <small>(2MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/m81-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/m81-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/m81-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>M81 and M82.</strong> Total intergation time of 100 minutes.
      <br>
      Taken with Sky-Watcher 72ed with 1.4x teleconverter and 0.89x field flattener.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>January 18, 2019</time>
      <%= link_to "View full size", image_url("large/m81-1.jpg"), class: "text-light", target: "_blank" %> <small>(2MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/orion-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/orion-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/orion-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Orion Nebula.</strong> Total intergation time of 45 minutes.
      <br>
      Taken with Sky-Watcher 72ed with 1.4x teleconverter and 0.89x field flattener.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>December 12, 2018</time>
      <%= link_to "View full size", image_url("large/orion-1.jpg"), class: "text-light", target: "_blank" %> <small>(4MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/orion-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/orion-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/orion-2.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Orion Nebula.</strong> Total intergation time of 75 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>November 17, 2018</time>
      <%= link_to "View full size", image_url("large/orion-2.jpg"), class: "text-light", target: "_blank" %> <small>(2MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/flame-nebula-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/flame-nebula-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/flame-nebula-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Flame and Horsehead Nebulas.</strong> Total intergation time of 100 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>November 18, 2018</time>
      <%= link_to "View full size", image_url("large/flame-nebula-1.jpg"), class: "text-light", target: "_blank" %> <small>(3MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/milkyway-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/milkyway-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/milkyway-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Milky Way with Andromeda Galaxy.</strong> Total intergation time of 35 minutes.
      <br>
      Taken at 15mm @ f2.8.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>August 17, 2018</time>
      <%= link_to "View full size", image_url("large/milkyway-1.jpg"), class: "text-light", target: "_blank" %> <small>(10MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/moon-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/moon-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/moon-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Lunar surface at first quarter.</strong>
      <br>
      Taken with Sky-Watcher 72ed through 12.5mm eyepiece with 1.4x teleconverter for effective magnification of 50 times.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>December 15, 2018</time>
      <%= link_to "View full size", image_url("large/moon-1.jpg"), class: "text-light", target: "_blank" %> <small>(26MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/moon-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/moon-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/moon-2.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>89% Waning Gibbous.</strong>
      <br>
      Taken with Sky-Watcher 72ed through 12.5mm eyepiece for effective magnification of 35 times.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>December 19, 2018</time>
      <%= link_to "View full size", image_url("large/moon-2.jpg"), class: "text-light", target: "_blank" %> <small>(10MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture>
    <source srcset="<%= image_url "webp/sun-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/sun-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/sun-1.jpg", class: "mb-2" %>
  </picture>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>Solar.</strong>
      <br>
      Taken with Sky-Watcher 72ed with 1.4x teleconverter and 0.89x field flattener.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>December 13, 2018</time>
      <%= link_to "View full size", image_url("large/sun-1.jpg"), class: "text-light", target: "_blank" %> <small>(2MB)</small>
    </div>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <div class="relative mb-2" style="padding-top: 56.25%">
    <%= video_tag "wirtanen.mp4", class: "absolute pin-t pin-l w-1/1", controls: "true" %>
  </div>

  <div class="md:flex align-start justify-between text-small">
    <figcaption class="md:w-3/5">
      <strong>46P/Wirtanen "Christmas comet".</strong> 3.5 Hour timelapse.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0 over a 3.5 hour period. One frame every 30 seconds.
    </figcaption>

    <div class="md:w-2/5 mt-2 md:mt-0 md:text-right">
      <time>December 17, 2018</time>
    </div>
  </div>
</figure>
