<div class="py-5 sm:py-10 md:my-5 text-center text-white ">
  <h4 class="font-lighter my-0">Mitchel Jager</h4>
  <h1 class="my-0 ml-3">Astrophotography</h1>
  <h4 class="font-lighter my-0">Portfolio</h4>
</div>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/bloodmoon_edited.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/bloodmoon_edited.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/bloodmoon_edited.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Composition of full lunar eclipse during sun down. Stars are edited in, colours are true.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">July 27, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/andromeda-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/andromeda-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/andromeda-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Andromeda Galaxy. Total intergation time of 70 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">July 15, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/andromeda-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/andromeda-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/andromeda-2.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Andromeda Galaxy. Total intergation time of 120 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">September 17, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/m33-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/m33-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/m33-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Triangulum Galaxy. Total intergation time of 120 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">November 17, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/orion-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/orion-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/orion-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Orion Nebula. Total intergation time of 45 minutes.
      <br>
      Taken with Sky-Watcher 72ed with 1.4x teleconverter and 0.89x field flatterner.
    </figcaption>

    <date class="w-2/5 text-right">December 12, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/orion-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/orion-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/orion-2.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Orion Nebula. Total intergation time of 75 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">November 17, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/flame-nebula-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/flame-nebula-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/flame-nebula-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Flame and Horsehead Nebulas. Total intergation time of 100 minutes.
      <br>
      Taken at 200mm with 1.4x teleconverter @ f4.0.
    </figcaption>

    <date class="w-2/5 text-right">November 18, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/milkyway-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/milkyway-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/milkyway-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Milky Way with Andromeda Galaxy. Total intergation time of 35 minutes.
      <br>
      Taken at 15mm @ f2.8.
    </figcaption>

    <date class="w-2/5 text-right">August 17, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/moon-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/moon-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/moon-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Lunar surface at first quarter.
      <br>
      Taken with Sky-Watcher 72ed through 12.5mm eyepiece with 1.4x teleconverter for effective magnification of 50 times.
    </figcaption>

    <date class="w-2/5 text-right">December 15, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/moon-2.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/moon-2.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/moon-2.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      89% Waning Gibbous.
      <br>
      Taken with Sky-Watcher 72ed through 12.5mm eyepiece for effective magnification of 35 times.
    </figcaption>

    <date class="w-2/5 text-right">December 19, 2018</date>
  </div>
</figure>

<figure class="mb-4 sm:mb-5">
  <picture class="mb-2">
    <source srcset="<%= image_url "webp/sun-1.webp" %>" type="image/webp">
    <source srcset="<%= image_url "jpeg/sun-1.jpg" %>" type="image/jpeg">
    <%= image_tag "jpeg/sun-1.jpg" %>
  </picture>

  <div class="flex align-start justify-between text-small">
    <figcaption class="w-3/5">
      Solar.
      <br>
      Taken with Sky-Watcher 72ed with 1.4x teleconverter and 0.89x field flatterner.
    </figcaption>

    <date class="w-2/5 text-right">December 13, 2018</date>
  </div>
</figure>
