<!DOCTYPE html>
<html>
  <head>
    <title>Mitchel Jager - Astrophotography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Astrophotography Portfolio by Mitchel Jager. Capturing Deep Space Objects with amateur gear."/>
    <meta name="author" content="Mitchel Jager"/>

    <%= csrf_meta_tags %>

    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-16x16.png" %>" sizes="16x16" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <main class="wrapper px-3 sm:px-4 md:px-5">
      <%= yield %>
    </main>
  </body>
</html>
